* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #e9ebee;
}
.xanh {
    display: flex;
    background-color: #365899;
    height: 49px;
}

.phantu {
    position: relative;
    left: 786px;
    padding: 15px;
}

.icon {
    line-height: 6px;
    font-size: 21px;
    cursor: pointer;
}

.danhsach {
    position: absolute;
    width: 200px;
    top: 49px;
    right: -9px;
    opacity: 0;
}

.danhsach:after {
    position: absolute;
    content: "";
    top: -16px;
    border: 8px solid transparent;
    border-bottom-color: white;
    right: 21px;
}

.list-group-item{
    border-top: none !important;
}
.an{
    opacity: 1;
}
.mautrang{
    color: white;
}